# IPL Male Analysis

## 1. Reading and Understanding the data

In [1]:
import numpy as np
import pandas as pd
import glob
import csv

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [3]:
def get_match_date(filename):
    with open(filename) as file_obj:
        reader_obj = csv.DictReader(file_obj)
        heading = next(file_obj)
        
        for i,row in enumerate(reader_obj,1):
            if i==5:
                return pd.to_datetime(row['6'])

In [4]:
file_list = glob.glob("*.csv")
file_list = list(map(lambda x : int(x[:-4]),file_list))
file_list.sort()
i=1
main_dataframe = pd.read_csv(str(file_list[0])+".csv",skiprows=70,on_bad_lines='skip',header=None)
main_dataframe['match_date'] = get_match_date(str(file_list[0])+".csv")
main_dataframe['match_number'] = i

for i in range(1,len(file_list)):
    data = pd.read_csv(str(file_list[i])+".csv",skiprows=70,on_bad_lines='skip',header=None)
    data['match_date'] = get_match_date(str(file_list[0])+".csv")
    i+=1
    data['match_number'] = i
    main_dataframe = pd.concat([main_dataframe,data])
    
main_dataframe.columns=['type_of_data','innings','over_and_ball','batting_team','batsman','non_striker','bowler','runs_off_bat','extras','wides','no_balls','byes','leg_byes','penalty','kind_of_wicket','dismissed_player','match_date','match_number']

In [5]:
main_dataframe.head()

,type_of_data,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player,match_date,match_number
0,ball,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18,1
1,ball,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
2,ball,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
3,ball,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
4,ball,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1

In [6]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181064 entries, 0 to 231
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   type_of_data      181064 non-null  object
 1   innings           181064 non-null  object
 2   over_and_ball     181064 non-null  object
 3   batting_team      181064 non-null  object
 4   batsman           181064 non-null  object
 5   non_striker       180862 non-null  object
 6   bowler            180862 non-null  object
 7   runs_off_bat      180862 non-null  float64
 8   extras            180862 non-null  float64
 9   wides             5611 non-null    float64
 10  no_balls          712 non-null     float64
 11  byes              455 non-null     float64
 12  leg_byes          2831 non-null    float64
 13  penalty           1 non-null       float64
 14  kind_of_wicket    8851 non-null    object
 15  dismissed_player  8851 non-null    object
 16  match_date        181064 non-null  datetime64[ns]
 17  match_number      181064 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 26.2+ MB

## 2. Cleaning unwanted data and null values treatment

In [7]:
main_dataframe.type_of_data.value_counts()

ball    180862
info       202
Name: type_of_data, dtype: int64

In [8]:
main_dataframe=main_dataframe[main_dataframe.type_of_data!="info"]

In [9]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   type_of_data      180862 non-null  object
 1   innings           180862 non-null  object
 2   over_and_ball     180862 non-null  object
 3   batting_team      180862 non-null  object
 4   batsman           180862 non-null  object
 5   non_striker       180862 non-null  object
 6   bowler            180862 non-null  object
 7   runs_off_bat      180862 non-null  float64
 8   extras            180862 non-null  float64
 9   wides             5611 non-null    float64
 10  no_balls          712 non-null     float64
 11  byes              455 non-null     float64
 12  leg_byes          2831 non-null    float64
 13  penalty           1 non-null       float64
 14  kind_of_wicket    8851 non-null    object
 15  dismissed_player  8851 non-null    object
 16  match_date        180862 non-null  datetime64[ns]
 17  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 26.2+ MB

In [10]:
main_dataframe=main_dataframe.drop('type_of_data',axis=1)

In [11]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  object
 1   over_and_ball     180862 non-null  object
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             5611 non-null    float64
 9   no_balls          712 non-null     float64
 10  byes              455 non-null     float64
 11  leg_byes          2831 non-null    float64
 12  penalty           1 non-null       float64
 13  kind_of_wicket    8851 non-null    object
 14  dismissed_player  8851 non-null    object
 15  match_date        180862 non-null  datetime64[ns]
 16  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 24.8+ MB

In [12]:
main_dataframe[['wides','no_balls','byes','leg_byes','penalty']]=main_dataframe[['wides','no_balls','byes','leg_byes','penalty']].fillna(0)

In [14]:
main_dataframe[['kind_of_wicket','dismissed_player']]=main_dataframe[['kind_of_wicket','dismissed_player']].fillna("No Wicket")

In [15]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  object
 1   over_and_ball     180862 non-null  object
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             180862 non-null  float64
 9   no_balls          180862 non-null  float64
 10  byes              180862 non-null  float64
 11  leg_byes          180862 non-null  float64
 12  penalty           180862 non-null  float64
 13  kind_of_wicket    180862 non-null  object
 14  dismissed_player  180862 non-null  object
 15  match_date        180862 non-null  datetime64[ns]
 16  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 24.8+ MB

In [16]:
main_dataframe.head()

,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player,match_date,match_number
0,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,0.0,0.0,0.0,1.0,0.0,No Wicket,No Wicket,2008-04-18,1
1,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,1
2,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,1
3,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,1
4,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,1

In [17]:
main_dataframe.innings.value_counts()

1    93377
2    87395
3       46
4       44
Name: innings, dtype: int64

In [19]:
main_dataframe.innings=main_dataframe.innings.apply(lambda x: int(x))

In [22]:
main_dataframe.over_and_ball=main_dataframe.over_and_ball.apply(lambda x: float(x))

In [23]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  int64
 1   over_and_ball     180862 non-null  float64
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             180862 non-null  float64
 9   no_balls          180862 non-null  float64
 10  byes              180862 non-null  float64
 11  leg_byes          180862 non-null  float64
 12  penalty           180862 non-null  float64
 13  kind_of_wicket    180862 non-null  object
 14  dismissed_player  180862 non-null  object
 15  match_date        180862 non-null  datetime64[ns]
 16  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(2), object(6)
memory usage: 24.8+ MB

In [34]:
main_dataframe.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [37]:
main_dataframe.batting_team=main_dataframe.batting_team.apply(lambda x : "Rising Pune Supergiants" if x=="Rising Pune Supergiant" else x)

In [38]:
main_dataframe.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions', 'Delhi Capitals',
       'Punjab Kings', 'Lucknow Super Giants', 'Gujarat Titans'],
      dtype=object)

In [44]:
main_dataframe['wickets']=(main_dataframe['kind_of_wicket']!='No Wicket').map({True:1,False:0})

## 3. EDA

### 1. Most Runs by a batsman in IPL

In [45]:
batting_cols=['innings','over_and_ball','batting_team','batsman','bowler','runs_off_bat','kind_of_wicket','dismissed_player','match_number','match_date','wickets']

batting_data = main_dataframe[batting_cols]

In [46]:
batting_data.head()

,innings,over_and_ball,batting_team,batsman,bowler,runs_off_bat,kind_of_wicket,dismissed_player,match_number,match_date,wickets
0,1,0.1,Kolkata Knight Riders,SC Ganguly,P Kumar,0.0,No Wicket,No Wicket,1,2008-04-18,0
1,1,0.2,Kolkata Knight Riders,BB McCullum,P Kumar,0.0,No Wicket,No Wicket,1,2008-04-18,0
2,1,0.3,Kolkata Knight Riders,BB McCullum,P Kumar,0.0,No Wicket,No Wicket,1,2008-04-18,0
3,1,0.4,Kolkata Knight Riders,BB McCullum,P Kumar,0.0,No Wicket,No Wicket,1,2008-04-18,0
4,1,0.5,Kolkata Knight Riders,BB McCullum,P Kumar,0.0,No Wicket,No Wicket,1,2008-04-18,0

In [50]:
batting_data.groupby(['batting_team','innings']).sum(numeric_only=True)

                                     over_and_ball  runs_off_bat  \
batting_team                innings
Chennai Super Kings         1             112053.4       14649.0
                            2              86094.8       11324.0
                            3                  1.5           9.0
Deccan Chargers             1              39652.2        4952.0
                            2              25746.0        3241.0
Delhi Capitals              1              29645.1        3737.0
                            2              29647.8        4055.0
                            4                  2.7           7.0
Delhi Daredevils            1              67585.0        8377.0
                            2              74051.0        9872.0
                            4                  2.1          11.0
Gujarat Lions               1              13347.2        1717.0
                            2              15564.3        2267.0
                            4                  3.6           2.0
Gujarat Titans              1               8758.9        1069.0
                            2               9340.1        1283.0
Kings XI Punjab             1              96856.2       12508.0
                            2              77386.6       10390.0
                            3                  3.4          15.0
                            4                  1.0          10.0
Kochi Tuskers Kerala        1               6130.1         679.0
                            2               5135.2         695.0
Kolkata Knight Riders       1              86635.4       10981.0
                            2             101453.9       13597.0
                            4                  1.0           1.0
Lucknow Super Giants        1               7392.1        1018.0
                            2               8200.4        1036.0
Mumbai Indians              1             123912.2       15986.0
                            2              87358.9       11790.0
                            3                  1.5          11.0
                            4                  0.6           9.0
Pune Warriors               1              23976.7        2819.0
                            2              22525.3        2562.0
Punjab Kings                1              19684.4        2474.0
                            2              10466.3        1475.0
Rajasthan Royals            1              88735.5       11221.0
                            2              82049.5       11232.0
                            4                  1.0           5.0
Rising Pune Supergiants     1              15965.5        2077.0
                            2              11596.0        1529.0
Royal Challengers Bangalore 1             106063.6       14004.0
                            2              97614.8       13033.0
                            3                  2.1          15.0
                            4                  2.1          15.0
Sunrisers Hyderabad         1              71288.0        8957.0
                            2              68338.4        9014.0
                            3                  6.5          35.0

                                     match_number  wickets
batting_team                innings
Chennai Super Kings         1             5241674      472
                            2             4609534      398
                            3                 655        2
Deccan Chargers             1              651321      214
                            2              423627      144
Delhi Capitals              1             2426932      138
                            2             2570037      157
                            4                7290        0
Delhi Daredevils            1             2667182      358
                            2             2887194      417
                            4                2052        2
Gujarat Lions               1              791338       80
                            2              961781       84
                            4                4888        0
Gujarat Titans              1              803777       43
                            2              890607       35
Kings XI Punjab             1             4154896      523
                            2             3469207      409
                            3                5613        4
                            4                 524        1
Kochi Tuskers Kerala        1              128200       34
                            2              131127       32
Kolkata Knight Riders       1             4265519      470
                            2             5684291      523
                            4                3108        0
Lucknow Super Giants        1              680234       31
                            2              772572       48
Mumbai Indians              1             6162194      623
                            2             4471748      441
                            3                3055        2
                            4                2241        0
Pune Warriors               1              701009      125
                            2              711652      138
Punjab Kings                1             1751054      120
                            2             1014830       49
Rajasthan Royals            1             4623969      466
                            2             4131839      405
                            4                1908        2
Rising Pune Supergiants     1              924226       76
                            2              729411       59
Royal Challengers Bangalore 1             5818277      513
                            2             4810475      531
                            3                2052        0
                            4                1974        0
Sunrisers Hyderabad         1             4363511      348
                            2             4961372      330
                            3               12638        4

In [26]:
wicket_data=batting_data[['dismissed_player','bowler','kind_of_wicket']]

In [27]:
wicket_data=wicket_data[~(wicket_data['kind_of_wicket']=='No Wicket')]

In [28]:
wicket_data.groupby(['dismissed_player','bowler']).count().loc['V Kohli']

                   kind_of_wicket
bowler
A Ashish Reddy                  1
A Mishra                        2
A Nehra                         5
A Nortje                        1
A Symonds                       1
AB Dinda                        3
AC Thomas                       1
AD Mathews                      1
AD Russell                      1
AN Ahmed                        1
AR Patel                        1
Anureet Singh                   1
Avesh Khan                      2
Azhar Mahmood                   1
B Kumar                         2
BA Stokes                       1
BB Sran                         1
Basil Thampi                    1
Bipul Sharma                    1
CH Morris                       1
D Brevis                        1
DAJ Bracewell                   1
DJ Bravo                        2
DS Kulkarni                     4
HF Gurney                       1
HH Pandya                       1
HV Patel                        1
Harbhajan Singh                 1
Harpreet Brar                   1
IK Pathan                       2
Imran Tahir                     1
J Suchith                       1
JA Morkel                       2
JH Kallis                       2
JJ Bumrah                       4
JO Holder                       2
JP Faulkner                     1
K Gowtham                       1
K Rabada                        3
KA Pollard                      3
KC Cariappa                     1
KH Pandya                       1
KK Ahmed                        1
Kartik Tyagi                    1
L Balaji                        1
M Jansen                        1
M Kartik                        1
M Morkel                        3
M Muralitharan                  1
M Prasidh Krishna               3
MC Henriques                    1
MF Maharoof                     1
MJ McClenaghan                  4
MM Patel                        2
MS Gony                         1
Mohammed Shami                  4
Mujeeb Ur Rahman                1
Mukesh Choudhary                1
Mustafizur Rahman               1
N Rana                          1
NLTC Perera                     1
NM Coulter-Nile                 1
P Awana                         2
P Kumar                         1
P Suyal                         1
PP Chawla                       2
PP Ojha                         1
PVD Chameera                    1
R Ashwin                        1
R Sharma                        1
R Vinay Kumar                   1
RA Jadeja                       2
RJ Harris                       2
RP Singh                        2
RS Bopara                       1
Rashid Khan                     2
S Gopal                         3
SB Jakati                       2
SK Raina                        1
SK Trivedi                      2
SM Curran                       2
SN Thakur                       2
SP Narine                       2
SR Watson                       1
SS Cottrell                     1
Sandeep Sharma                  5
Shakib Al Hasan                 1
T Natarajan                     1
TG Southee                      1
UT Yadav                        4
WPUJC Vaas                      1
YS Chahal                       1
Z Khan                          2

In [29]:
main_dataframe.groupby("batsman").sum(numeric_only=True).sort_values(by='runs_off_bat',ascending=False)

,innings,over_and_ball,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,match_number
batsman,,,,,,,,,,
V Kohli,6313,36796.8,5502.0,203.0,141.0,13.0,3.0,46.0,0.0,2212999
S Dhawan,6036,27461.3,5134.0,260.0,151.0,16.0,8.0,85.0,0.0,2242871
RG Sharma,5314,35115.7,4821.0,154.0,91.0,11.0,2.0,50.0,0.0,1737318
DA Warner,4954,22036.3,4612.0,238.0,139.0,10.0,26.0,63.0,0.0,1806153
SK Raina,4937,30727.6,4481.0,218.0,136.0,18.0,4.0,60.0,0.0,1401792
...,...,...,...,...,...,...,...,...,...,...
Sunny Gupta,2,15.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,321
T Stubbs,4,9.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1870
JL Denly,1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,722
A Uniyal,2,19.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117
KK Ahmed,4,35.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1612

In [30]:
main_dataframe.match_number.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  11,  12,  13,  14,
        15,  16,  17,  18,  20,  21,  22,  23,  24,  25,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  43,
        46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
        65, 113, 114, 115, 116, 117, 118, 119, 120, 122, 123, 125, 126,
       127, 129, 130, 131, 132, 134, 135, 136, 137, 138, 139, 141, 142,
       143, 145, 146, 147, 148, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 159, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 178, 179, 180, 181, 182, 183, 184, 186,
       188, 189, 190, 191, 192, 194, 195, 196, 197, 198, 199, 200, 201,
       202, 204, 205, 206, 208, 209, 210, 211, 212, 214, 215, 216, 217,
       218, 219, 220, 221, 223, 225, 226, 227, 228, 229, 230, 231, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 280, 281, 285, 286, 287, 288, 290, 292,
       293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306,
       307, 308, 309, 310, 311, 312, 313, 314, 315, 318, 319, 320, 321,
       322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 334, 335,
       336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348,
       349, 350, 351, 352, 353, 355, 356, 357, 358, 359, 360, 361, 362,
       363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375,
       376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388,
       389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 419, 420, 421,
       423, 424, 425, 426, 427, 428, 429, 431, 432, 434, 435, 436, 437,
       438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450,
       451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463,
       464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476,
       477, 479, 481, 483, 484, 485, 486, 487, 488, 489, 490, 491, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 540, 541, 542, 543, 544, 545, 546, 547,
       548, 550, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 563,
       564, 565, 568, 569, 570, 571, 573, 574, 575, 576, 577, 579, 580,
       581, 582, 585, 586, 587, 588, 589, 590, 592, 593, 594, 595, 596,
       597, 599, 600, 601, 603, 604, 605, 606, 607, 608, 609, 611, 612,
       613, 614, 615, 616, 619, 620, 621, 622, 624, 625, 626, 627, 628,
       629, 631, 632, 633, 635, 636, 637, 638, 639, 640, 643, 644, 645,
       646, 647, 648, 649, 651, 653, 655, 656, 657, 658, 660, 661, 662,
       663, 664, 665, 666, 667, 669, 670, 671, 672, 674, 675, 676, 677,
       678, 679, 681, 682, 684, 685, 686, 687, 688, 689, 692, 693, 694,
       695, 696, 697, 698, 699, 701, 702, 703, 705, 707, 710, 711, 712,
       714, 715, 716, 717, 719, 722, 723, 724, 726, 728, 729, 730, 731,
       732, 733, 734, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745,
       746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 757, 758, 759,
       760, 761, 762, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773,
       774, 775, 777, 778, 779, 781, 783, 784, 785, 786, 787, 790, 791,
       792, 793, 794, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 809, 810, 811, 813, 814, 815, 817, 818, 819, 820, 821,
       822, 823, 824, 828, 829, 830, 831, 832, 833, 835, 836, 837, 838,
       839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 853,
       854, 855, 856, 858, 859, 860, 861, 865, 868, 869, 870, 871, 872,
       873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885,
       886, 887, 888, 889, 890, 891, 892, 893, 894, 896, 897, 898, 899,
       900, 901, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 914,
       915, 916, 917, 918, 920, 921, 922, 923, 924, 926, 927, 928, 929,
       930, 932, 933, 935, 936, 937, 938, 939, 940, 942, 943, 944, 945,
       946, 947, 948, 949, 950], dtype=int64)