# IPL Male Analysis

## 1. Reading and Understanding the data

In [56]:
import numpy as np
import pandas as pd
import glob

file_list = glob.glob("*.csv")
file_list = list(map(lambda x : int(x[:-4]),file_list))
file_list.sort()
main_dataframe = pd.read_csv(str(file_list[0])+".csv",skiprows=70,on_bad_lines='skip',header=None)
for i in range(1,len(file_list)):
    data = pd.read_csv(str(file_list[i])+".csv",skiprows=70,on_bad_lines='skip',header=None)
    main_dataframe = pd.concat([main_dataframe,data])
    
main_dataframe.columns=['type_of_data','innings','over_and_ball','batting_team','batsman','non_striker','bowler','runs_off_bat','extras','wides','no_balls','byes','leg_byes','penalty','kind_of_wicket','dismissed_player']

In [57]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [58]:
main_dataframe.head()

,type_of_data,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player
0,ball,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,ball,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ball,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,ball,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ball,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181064 entries, 0 to 231
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   type_of_data      181064 non-null  object
 1   innings           181064 non-null  object
 2   over_and_ball     181064 non-null  object
 3   batting_team      181064 non-null  object
 4   batsman           181064 non-null  object
 5   non_striker       180862 non-null  object
 6   bowler            180862 non-null  object
 7   runs_off_bat      180862 non-null  float64
 8   extras            180862 non-null  float64
 9   wides             5611 non-null    float64
 10  no_balls          712 non-null     float64
 11  byes              455 non-null     float64
 12  leg_byes          2831 non-null    float64
 13  penalty           1 non-null       float64
 14  kind_of_wicket    8851 non-null    object
 15  dismissed_player  8851 non-null    object
dtypes: float64(7), object(9)
memory usage: 23.5+ MB

## 2. Cleaning unwanted data and null values treatment

In [60]:
main_dataframe.type_of_data.value_counts()

ball    180862
info       202
Name: type_of_data, dtype: int64

In [61]:
main_dataframe=main_dataframe[main_dataframe.type_of_data!="info"]

In [62]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   type_of_data      180862 non-null  object
 1   innings           180862 non-null  object
 2   over_and_ball     180862 non-null  object
 3   batting_team      180862 non-null  object
 4   batsman           180862 non-null  object
 5   non_striker       180862 non-null  object
 6   bowler            180862 non-null  object
 7   runs_off_bat      180862 non-null  float64
 8   extras            180862 non-null  float64
 9   wides             5611 non-null    float64
 10  no_balls          712 non-null     float64
 11  byes              455 non-null     float64
 12  leg_byes          2831 non-null    float64
 13  penalty           1 non-null       float64
 14  kind_of_wicket    8851 non-null    object
 15  dismissed_player  8851 non-null    object
dtypes: float64(7), object(9)
memory usage: 23.5+ MB

In [63]:
main_dataframe=main_dataframe.drop('type_of_data',axis=1)

In [64]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  object
 1   over_and_ball     180862 non-null  object
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             5611 non-null    float64
 9   no_balls          712 non-null     float64
 10  byes              455 non-null     float64
 11  leg_byes          2831 non-null    float64
 12  penalty           1 non-null       float64
 13  kind_of_wicket    8851 non-null    object
 14  dismissed_player  8851 non-null    object
dtypes: float64(7), object(8)
memory usage: 22.1+ MB

In [65]:
main_dataframe[['wides','no_balls','byes','leg_byes','penalty']]=main_dataframe[['wides','no_balls','byes','leg_byes','penalty']].fillna(0).head()

In [66]:
main_dataframe.head()

,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player
0,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
1,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
3,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [67]:
main_dataframe[['kind_of_wicket','dismissed_player']]=main_dataframe[['kind_of_wicket','dismissed_player']].fillna("No Wicket").head()

In [68]:
main_dataframe.head()

,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player
0,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,0.0,0.0,0.0,1.0,0.0,No Wicket,No Wicket
1,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket
2,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket
3,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket
4,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket